@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<h3>Effective: April 10, 2023</h3>

<p>
    This Privacy Policy explains how we collect, use, and share information about you when you use our services. We understand that your privacy is important, and we are committed to protecting your personal data.

    <br /><br />Information We Collect:<br />

    We collect information about you when you use our services. This may include your name, email address, phone number, IP address, and other information that you provide to us. We may also collect information about your device, such as the type of device you are using, the operating system, and other technical information.

    <br /><br />How We Use Your Information:<br />

    We use the information we collect to provide and improve our services. We may use your information to communicate with you about our services, to respond to your inquiries, and to personalize your experience. We may also use your information for research purposes and to help us understand how our services are used.

    <br /><br />How We Share Your Information:<br />

    We do not sell your personal data to third parties. However, we may share your information with our service providers who help us provide our services. We may also share your information with law enforcement agencies or other government bodies if we are required to do so by law.

    <br /><br />Data Security:<br />

    We take the security of your personal data seriously and have implemented appropriate technical and organizational measures to protect your data. However, no method of transmission over the internet or electronic storage is 100% secure, and we cannot guarantee the security of your information.

    <br /><br />Your Choices:<br />

    You have the right to access, modify, and delete your personal data. You can do so by contacting us at the email address provided below. You also have the right to opt-out of receiving marketing communications from us.

    <br /><br />Changes to This Privacy Policy:<br />

    We reserve the right to modify this Privacy Policy at any time. We will notify you of any changes by posting the new Privacy Policy on our website. Your continued use of our services after the changes have been made constitutes your acceptance of the new Privacy Policy.

    <br /><br />Contact Us:<br />

    If you have any questions or concerns about this Privacy Policy or our data practices, please contact us at [insert email address here].
</p>
